<h1>Store Status </h1>
<table class="table">
  <tr>
    <th><%= link_to "Products", controller: "admin/products" %></th>
    <th><%= link_to "Categories", controller: "admin/categories" %></th>
  </tr>
  <tr>
    <td><%= @product_count %></td>
    <td><%= @category_count %></td>
  </tr>
  
</table>
